@using MyCourses.Models
@* @{
    Layout = "_Layout";
} *@

<h1>Catalogo dei corsi</h1>

@foreach (Course course in Model)
{
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="MyCourses" width="50">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>di Nome Cognome</author>
        </div>
        <div class="col-md-2 rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="col-md-2 price">
            EUR 10,99
            <br>
            <s>EUR 12,99</s>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <button class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettagli del corso @course.Id</button>
        </div>
    </div>
}